.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-4);
  background-color: var(--color-neutral);
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  gap: var(--spacing-4);
}

@media (min-width: 768px) {
  .footer-right {
    place-self: center;
    justify-self: end;
  }
}
