.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: background-color var(--transition-default);
  text-align: center;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: rgba(81, 126, 166, 0.9);
}

.btn-neutral {
  background-color: var(--color-neutral);
  color: #111827;
}

.btn-neutral:hover {
  background-color: rgba(229, 230, 230, 0.9);
}
