.contact-container {
  max-width: 65ch;
  padding-top: var(--spacing-10);
  padding-bottom: var(--spacing-10);
}

.contact-container h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact-container p {
  margin-bottom: 1rem;
}

.contact-container a {
  color: inherit;
}

.contact-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  transition: background-color var(--transition-default);
  margin-right: var(--spacing-5);
}

.contact-button-primary {
  background-color: var(--color-primary);
  color: white;
}

.contact-button-primary:hover {
  background-color: rgba(81, 126, 166, 0.9);
}

.contact-button-neutral {
  background-color: var(--color-neutral);
  color: #111827;
}

.contact-button-neutral:hover {
  background-color: rgba(229, 230, 230, 0.9);
}

@media (min-width: 768px) {
  .contact-button-neutral {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .contact-button {
    margin-right: 0;
    margin-bottom: var(--spacing-4);
  }

  .contact-button-neutral {
    margin-top: var(--spacing-4);
  }
}
